html {
	background-color:#F4F1F1;
}
body{
	padding:0px;
	margin:0px;
	font-family: "Verdana";
	font-size:15px;
	background-color:#F4F1F1;
    height:100%;
}

.botaoInserir {
    background:  #00625F;
}
.alignR {
    float:right;
}

nav {
	background:  #00625F;
	position:fixed;
	top:0;
	bottom:0;
	height:100%;
	left:0;
	width:55px;
	overflow:hidden;
	z-index:1;
	transition:width .5s linear;

   	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.32);

}

nav:hover, nav.expanded {
	width:180px;
	overflow:hidden;
}




/*ESTILOS DOS ITENS DO MENU*/
nav ul{
	padding:0px;
	margin:0px;
	/*margin-top:75px;*/
	list-style:none;
	top:0px;
}

nav li{
	border-bottom:1px solid CadetBlue;
	height:37px;
}

nav li:nth-child(1){
	height:75px; 
}
nav li:nth-child(2){
	border-top:1px solid CadetBlue;
}
nav li:hover>a{
	background-color:CadetBlue;
}

nav li>a {
	position:relative;
	width:255px;
	display:table;
	border-collapse:collapse;
	border-spacing:0;
	font-family: 'Strait', sans-serif;
	text-decoration: none;
	color:white;
	height:calc(100%);	
	text-align: left;
	transition:all .5s linear;
}

.selected{
	background-color: DarkSlateGray;
}


.iconMenu {
	height: 30px;
	width: 30px;
	position:relative;
	border-radius:20%;
	float:left;
	margin-left:12px;
	margin-top:4px;
	background-position: center;
	background-size: 100%;		
}
	#menuLogo{
		height:40px; 
		width: 40px;
		background: url('../img/musicWhite.png');
		background-repeat: no-repeat;
		background-size: 44px;

		margin-top:16px;
		margin-left:4px;
	}
	#menuUser{
		background-image: url(../img/perfil.png);
	}
	#menuFeed{
		background-image: url(../img/feedWhite.png);
	}
	#menuPaginas{
		background-image: url(../img/guitarWhite.png);
	}
	#menuDuelos{
		background-image: url(../img/dueloWhite.png);
	}
	#menuRanking{
		background-image: url(../img/teste.png);
	}
	#menuMedalhas{
		background-image: url(../img/medalWhite.png);
	}
	#menuSair{
		background-image: url(../img/exitWhite.png);
	}
.textMenu  {
	position:relative;
	display:table-cell;
	vertical-align:middle;
	width:190px;
	font-family: 'Titillium Web', sans-serif;
}


#conteudo{
	overflow: hidden;
	background-color:#F4F1F1;
    height: 100%;
	position: relative;
	width:calc(100% - 58px);
	top:0px;
	float:right;
}


