@model IEnumerable<redeSocial.Models.Duelo.Duelo>

@{
    ViewBag.Title = "Duelos";
}

<div id='operacoesDuelos'>
        
    @foreach(var item in Model){
        
        <div class='duelo'><span>Duelo de @item.Tipo</span></div>
    }

	
	<!-- <div id='busca'><input type='text' placeholder='Buscar'></div> -->
</div>