@model redeSocial.Models.Postagem.Postagem

@{
    ViewBag.Title = "Nova Postagem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nova Postagem</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset id="inserirPost">
        
        <div class="editor-label">
           Insira o link do vídeo ou aúdio
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Conteudo)
            @Html.ValidationMessageFor(model => model.Conteudo)
        </div>

        <p>
            <input class="botaoInserir" name="btnInserirPost" type="submit" value="Postar" />
        </p>
    </fieldset>
}



@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
