@{
    ViewBag.Title = "Ranking";
}

<div id='operacoesRanking'>
	<div id='newPost'><span>Procurar</span></div>
	<div ></div>
	<!-- <div id='busca'><input type='text' placeholder='Buscar'></div> -->
</div>
<div id="conteudoRanking">
    <table>
           <tr><td>Posição</td><td>Nome<td>Pontos</td><td>Vitórias</td><td>Duelos</td></tr>
           <tr><td></td><td></td><td></td><td></td><td></td></tr>
           <tr><td></td><td></td><td></td><td></td><td></td></tr>
    </table>
</div>
