@{
    ViewBag.Title = "Duelos";
}

<div id='operacoesDuelos'>
	<div class='duelo'><span>User 1 vs User 2 </span></div>
	<div class='duelo'><span>Banda 1 vs Banda 2</span></div>
	<div class='duelo'><span>Banda 1 vs Banda 2</span></div>
	<div class='duelo'><span>Banda 1 vs Banda 2</span></div>
	<div class='duelo'><span>Banda 1 vs Banda 2</span></div>
	<div class='duelo'></div>
	<!-- <div id='busca'><input type='text' placeholder='Buscar'></div> -->
</div>