@model IEnumerable<redeSocial.Models.Postagem.Postagem>

@{
    ViewBag.Title = "Feed";
}

<input type="submit" name="btnSubmit" value="Criar" onclick='location.href="<%:Url.Action(\"Index\", \"Home\") %>"'/>


<div id='operacoesFeed'>
	<div id='newPost'><span>Novo Post</span></div>
	<div ><span>Novo Post</span></div>
	<div ></div>
	<!-- <div id='busca'><input type='text' placeholder='Buscar'></div> -->
</div>

<div id="conteudoFeed">
    
@foreach(var item in Model){
    <div class='post'>
	    <img class='user'>
	    <div class='postagem'>
		    <iframe width="560" height="315" src="@item.Conteudo" frameborder="0" allowfullscreen></iframe>
		    <div class='avaliacao' title='Afinado'></div>
	    </div>
    </div>
}

@*<div class='post'>
	<img class='user'>
	<div class='postagem'>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/ZBnHXSW0Q2w" frameborder="0" allowfullscreen></iframe>
		<div class='avaliacao' title='Afinado'></div>
	</div>
	<div class='comentario'>
		<img class='user'>
		<div class='postagem'>
				<iframe width="50%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/287425195&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
				<div class='avaliacao' title='Afinado'></div>
		</div>
					
	</div>
	<div class='comentario'>
		<img class='user'>
		<div class='postagem'>
			Meu comentario
			<div class='avaliacao'></div>
		</div>
	</div>
	<div class='comentario'>
		<img class='user'>
		<div class='postagem'>
			Meu comentario
			<div class='avaliacao'></div>
		</div>						
					
	</div>
</div>

<div class='post'>
	<img class='user'>
	<div class='postagem'>
			O div#principal engloba os div#left e div#right. Todo o conteúdo do site é carregado no div#right.
			O que acontece de errado, então? Vou dar um exemplo do que aconteceu comigo. 
			No site que desenvolvi, ao clicar no botão contato, um formulário era carregado 
			dentro do div#right (via php), porém os campos de edição e os botãos não funcionavam corretamente. 
			Dava a impressão de estarem desabilitados. Após, vários testes em busca de solução descobri 
			que height:auto não era interpretado corretamente por alguns navegadores.
			<div class='avaliacao'></div>
	</div>

	<div class='comentario'>
		<img class='user'>
		<div class='postagem'>
				dentro do div#right (via php), porém os campos de edição e os botãos não funcionavam corretamente. 
				Dava a impressão de estarem desabilitados. Após, vários testes em busca de solução descobri 
				que height:auto não era interpretado corretamente por alguns navegadores.
				dentro do div#right (via php), porém os campos de edição e os botãos não funcionavam corretamente. 
				Dava a impressão de estarem desabilitados. Após, vários testes em busca de solução descobri 
				que height:auto não era interpretado corretamente por alguns navegadores.
				<div class='avaliacao'></div>
		</div>

		<div class='comentario'>
			<img class='user'>
			<div class='postagem'>
					Meu comentario
					<div class='avaliacao'></div>
			</div>
		</div>
	</div>
</div>*@

</div>