@{
    ViewBag.Title = "Páginas";
}


<div id='operacoes'>
	<div ><span>Banda 1</span></div>
	<div ><span>Banda 2 </span></div>
	<div ></div>
	<!-- <div id='busca'><input type='text' placeholder='Buscar'></div> -->
</div>