@model IEnumerable<redeSocial.Models.Conquista.Conquista>

@{
    ViewBag.Title = "Conquistas";
}


<div id='Medalhas' class='categoria'>
	<div ><span>Medalha 1</span></div>
	<div ><span>Medalha 2</span></div>
	<div ><span>Medalha 3</span></div>
	<div ><span>Medalha 4</span></div>
	<div ><span>Medalha 5</span></div>
	<!-- <div id='busca'><input type='text' placeholder='Buscar'></div> -->
</div>

<div id='Trofeus' class='categoria'>
	<div ><span>Troféu 1</span></div>
	<div ><span>Troféu 2</span></div>
	<div ><span>Troféu 3</span></div>
	<div ><span>Troféu 4</span></div>
	<div ><span>Troféu 5</span></div>
	<!-- <div id='busca'><input type='text' placeholder='Buscar'></div> -->
</div>